---
import Container from "@/components/container.astro";
import ProjectsGallery from "@/components/projectsGallery.astro";
import Layout from "@/layouts/Layout.astro";

const projects = [
    {
        title: "Proyecto 1",
        icon: "Google",
        href: "/project/1",
        progress: {
            current: 2,
            total: 11
        },
    },
]
---

<Layout
title="Proyectos - Code Project"
active="Proyectos"
>
    <Container class="pt-4">
        <h2 class="text-4xl font-bold w-full border-b-[1px] border-b-zinc-800 mb-3 pb-2">
            Desafios
        </h2>
        <ProjectsGallery projects={projects} />
    </Container>
</Layout>