---
import Container from "@/components/container.astro";
import Layout from "@/layouts/Layout.astro";

const projects = [
    {
        title: "Proyecto 1",
        progress: {
            current: 50,
            total: 100
        },
        icon: "Google",
        href: "/project/1"
    },
]
---

<Layout
title="Proyectos - Code Project"
active="Proyectos"
>
    <Container class="pt-4">
        <h2 class="text-4xl font-bold w-full border-b-[1px] border-b-zinc-800 mb-3 pb-2">
            Desafios
        </h2>
        <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-8">
            {
                projects.map(project => (
                    <a
                    href={project.href}
                    class="group aspect-square rounded-lg p-4 w-full bg-zinc-700"
                    >
                        <li class="flex flex-col justify-between h-full">
                            <h4 class="text-3xl font-semibold">
                                {project.title}
                            </h4>
                            <div class="flex font-semibold gap-4 items-end justify-between">
                                <div class="w-full">
                                    <div class="flex justify-between px-2">
                                        <p>1</p>
                                        <p>10</p>
                                    </div>
                                    <div class="h-5 bg-blue-300 rounded-xl" />
                                </div>
                                <p class="font-bold group-hover:text-purple-300 transition">Iniciar</p>
                            </div>
                        </li>
                    </a>
                ))
            }
        </ul>
    </Container>
</Layout>