---
interface Props {
    class?: string;
}
const { class: className } = Astro.props;
---

<p class:list={["opacity-0 group-hover:opacity-100 pointer-events-none group-hover:pointer-events-auto bg-slate-800 text-white text-sm font-semibold absolute rounded-xl px-2 pt-1 mt-2 transition-opacity duration-500", className]}>
    <slot />
</p>