---
import Container from "@/components/container.astro"
import Github from "@/icons/Github.astro"

const header = {
    nav: [
        {
            name: 'Inicio',
            url: '/'
        },
        {
            name: 'Proyectos',
            url: '/project'
        },
    ]
}

interface Props {
    active: string
}
const { active } = Astro.props
---

<Container class="fixed top-0 left-0 z-[999] right-0 w-full bg-zinc-800 bg-opacity-65">
    <header class="flex md:grid md:grid-cols-3 items-center w-full h-16 bg-opacity-60">
        <div>
            <h2 class="text-xl font-bold">
                Code
                <span class="text-3xl">
                    Project
                </span>
            </h2>
            <h3 class="text-xs text-yellow-200 italic opacity-80 font-semibold">
                Aprende a Programar Programando
            </h3>
        </div>
        <nav class="hidden md:flex items-center mx-auto font-semibold gap-x-8 text-xl">
            {
                header.nav.map(item => (
                    <a
                    class:list={[
                        "px-1 border-b-[1px] border-b-zinc-800 hover:border-b-yellow-100 transition duration-500",
                        active === item.name ? "" : "opacity-50"
                    ]}
                    href={item.url}
                    >
                        {item.name}
                    </a>
                ))
            }
        </nav>
        <div class="hidden md:flex justify-end items-center gap-x-4">
            <a
            target="_blank"
            href="https://paypal.me/DiegoDev018"
            class="px-3 pb-1 rounded-xl font-semibold text-md bg-zinc-800 hover:bg-zinc-700 transition-colors duration-500"
            >
                Apoyar $
            </a>
            <a
            href=""
            class="px-3 py-2 rounded-xl font-semibold text-xl bg-zinc-800 hover:bg-zinc-700 transition-colors duration-500">
                <Github width="26" height="25" />
            </a>
        </div>
    </header>
</Container>
<div class="pb-16" />