---
import Container from "@/components/container.astro";
import Search from "@/icons/Search.astro";

---
<Container class="flex justify-center !pb-0">
    <form
      class="group flex items-center bg-zinc-800 rounded-lg px-2 py-1 mt-4"
      action="/project/search"
      method="GET"
    >
      <label for="search" class="sr-only">Buscar un proyecto</label>
      <input
        type="text"
        name="search"
        id="search"
        placeholder="Busca un proyecto"
        class="bg-transparent font-semibold px-2 py-2 rounded-lg w-full sm:w-96 opacity-80 focus:opacity-100 focus:outline-none transition-opacity duration-200"
      />
      <button
        type="submit"
        class="bg-transparent p-2 rounded-xl ml-2 opacity-80 group-hover:opacity-100 hover:bg-zinc-700 transition duration-200"
        aria-label="Buscar proyecto"
      >
        <Search />
      </button>
    </form>
  </Container>
  